#top {
	position: relative;
	background-color: #D0E0FF;
	color: white;
	padding: 0px;
	height: auto;
	margin: 0px 0px 10px 0px;
}

.header.ui-panel {
	background-color: #3A6BCD;
	border: none;
	width: 95%;
}

.ui-icon-myAddFilm {
	background-image: url(#{ resource [ 'images:shop-cart-16.png' ]
}

);
}
.editprofile.ui-panel {
	background-color: #E3E5E7;
	border: none;
	width: 60%;
	margin-bottom: 10px;
	margin-left: 20%
}

.nowyUserPanel.ui-panel {
	background-color: #D0E0FF;
	color: white;
	text-size: 20px;
	border: none;
	margin-bottom: 10px;
	margin-left: 20%
}

.infologowanie.ui-panel {
	background-color: #E3E5E7;
	margin-left: 440px;
	width: 470px;
	height: 45px;
	position: relative;
	margin-bottom: 10px;
	margin-top: 5px;
}

.naglowek.ui-panel {
	background-color: #3A6BCD;
	border: none;
	margin-bottom: 10px;
	color: white;
}

.ermsg.ui-message-error {
	height: 5px;
}

.button_zapisz.ui-button {
	width: 100px;
	margin-left: 80%;
	background-color: #A4BDEF;
}

.button_zarezerwuj.ui-button {
	width: 100px;
	margin-left: 80%;
	background-color: #A4BDEF;
}

.cartbnt {
	background-image: url('resources/image/shop-cart-16.png') !important;
	background-position: 0 0 !important;
}

.button_zmien.ui-button {
	width: 140px;
	margin-left: 70%;
	background-color: #A4BDEF;
}

.ui-fieldset {
	background-color: #E3E5E7;
}

.ui-fieldset .ui-fieldset-legend {
	background-color: #799DE3;
	font-family: monospace;
}

.ui-panelgrid.headerGrid tr,.ui-panelgrid.headerGrid td {
	border-style: none;
	border: none;
	background: none;
}

.ui-panelgrid.gridNoPadding tr,.ui-panelgrid.gridNoPadding td {
	border-style: none;
	border: none;
	background: none;
	padding: 0;
}

.ui-panelgrid.gridNoPaddingszczegoly tr,.ui-panelgrid.gridNoPaddingszczegoly td
	{
	border-style: none;
	border: none;
	background: none;
	padding: 0;
	vertical-align: top;
}

.ui-panelgrid.gridNoPaddinglogin tr,.ui-panelgrid.gridNoPaddinglogin td,.ui-panelgrid.gridNoPaddinglogin
	{
	border-style: none;
	border: none;
	background: none;
	padding: 0;
	width: 100%;
}

.ui-panel.panelNoPadding,.ui-panel-content.panelNoPadding {
	padding: 0;
	background: none;
	border: none;
}

.ui-datatable.bordernew thead th,.ui-datatable.bordernew tbody,.ui-datatable.bordernew tbody tr,.ui-datatable.bordernew tbody td
	{
	border: 1px solid gray;
	padding: 5;
	position: relative;
}

.topAligment {
	vertical-align: top;
}

.menu {
	background-color: #A4BDEF;
	position: relative;
	height: px;
	margin-top: 10px;
}

.menumanage {
	background-color: #A4BDEF;
	margin-top: 10px;
}

.ui-menu-list {
	background-color: #A4BDEF;
}

.menumanage ..ui-menuitem-text {
	color: black;
}

.menu .ui-menuitem-text {
	color: black;
}

.ui-datatable th {
	background-color: #A4BDEF !important;
	font-size: 14px !important;
}

.ui-datatable .ui-datatable-data td {
	background-color: #E3E5E7 !important;
	font-size: 14px !important;
}

.zarzadzaj .ui-datatable .ui-datatable-data td {
	background-color: red !important;
	font-size: 14px !important;
}

#page {
	background-color: #D0E0FF;
	margin-left: 30px;
	width: 96%;
	min-height: 90%;
	padding: 0;
}

#bottom {
	position: relative;
	background-color: #D0E0FF;
	padding: 5px;
	margin: 10px 0px 0px 0px;
}

#left {
	float: left;
}

#leftmanage {
	float: left;
	height: 650px;
}

#footer {
	position: relative;
	background-color: #D0E0FF;
	margin: none;
	min-height: 70px;
	color: white;
}

.center_content {
	background-color: #D0E0FF;
	padding: 5px;
	margin-left: 250px;
	margin-right: 100px;
}

.center_content_zarzadzanie {
	background-color: #D0E0FF;
	padding: 5px;
	margin-left: 180px;
}

#top a:link,#top a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#top a:link:hover,#top a:visited:hover {
	color: black;
	font-weight: bold;
	text-decoration: underline;
}

.ui-icon-editfilm {
	background-image: !important;
}

.button_icon {
	height: 35px;
	width: 35px;
	background-image: url("#{resource['image/film-edit.png']}") !important;
	top: 39% !important;
	left: 40% !important;
}

.button_dodaj {
	height: 35px;
	width: 35px;
	background-image: url("#{resource['image/film-add.png']}") !important;
	top: 39% !important;
	left: 40% !important;
}

.button_info {
	height: 35px;
	width: 35px;
	background-image: url("#{resource['image/info.png']}") !important;
	top: 35% !important;
	left: 35% !important;
}

.button_check {
	height: 35px;
	width: 35px;
	background-image: url("#{resource['image/ok-icon.png']}") !important;
	top: 35% !important;
	left: 35% !important;
}

.button_print {
	height: 35px;
	width: 35px;
	background-image: url("#{resource['image/print-report.png']}")
		!important;
	top: 35% !important;
	left: 35% !important;
}

.button_szczegol {
	height: 35px;
	width: 35px;
	background-image: url("#{resource['image/Mes-videos-icon.png']}")
		!important;
	top: 35% !important;
	left: 35% !important;
}

.button_daneKlienta {
	height: 35px;
	width: 35px;
	background-image: url("#{resource['image/klient.png']}") !important;
	top: 35% !important;
	left: 35% !important;
}

.button_dodaj2 {
	height: 35px;
	width: 35px;
	background-image: url("#{resource['image/Add-icon.png']}") !important;
	top: 35% !important;
	left: 35% !important;
}

.button_wypozycz {
	height: 35px;
	width: 35px;
	background-image: url("#{resource['image/wypozycz.png']}") !important;
	top: 35% !important;
	left: 35% !important;
}

.button_zwrot {
	height: 35px;
	width: 35px;
	background-image: url("#{resource['image/zwrot.png']}") !important;
	top: 35% !important;
	left: 35% !important;
}

.list_icon {
	background: url("#{resource['image/list16.png']}") !important;
	height: 16px;
	width: 16px;
}